In [1]:
#importing libraries
import pandas as pd
import selenium
from selenium import webdriver

# 1.

In [18]:
#Connecting to web driver
driver=webdriver.Chrome(r"C:\Users\user\Downloads\chromedriver_win32\chromedriver.exe")

<ipython-input-18-3316efb47fbe>:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:\Users\user\Downloads\chromedriver_win32\chromedriver.exe")

In [19]:
#1.Getting the web page
driver.get("https://www.naukri.com/")

In [21]:
#2.Entering the data to be search
job_search=driver.find_element_by_id("qsb-keyword-sugg")
job_search.send_keys("Data Analyst")
job_loc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
job_loc.send_keys("Bangalore")

<ipython-input-21-3af3952aeb63>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  job_search=driver.find_element_by_id("qsb-keyword-sugg")
<ipython-input-21-3af3952aeb63>:4: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  job_loc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")

In [22]:
#3. Clicking search button
btn_search=driver.find_element_by_xpath("//div[@class='search-btn']/button")
btn_search.click()

<ipython-input-22-33bf4d982674>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  btn_search=driver.find_element_by_xpath("//div[@class='search-btn']/button")

In [23]:
#4.
# Creating empty list to store scrapping data
jobs=[]
location=[]
company=[]
experience=[]

In [24]:
#Extracting the job title tags
jobtag=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
jobtag[0:4]

<ipython-input-24-70e746259687>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  jobtag=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

[<selenium.webdriver.remote.webelement.WebElement (session="4ae05ba59a438f02b8f05fe259566a9d", element="3a571ebd-c458-48eb-9b4d-63814cdb9c5c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ae05ba59a438f02b8f05fe259566a9d", element="9af72c6e-a43e-436e-b648-87487499bb74")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ae05ba59a438f02b8f05fe259566a9d", element="f2471923-b56c-4c03-a0f0-fbba324fee24")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ae05ba59a438f02b8f05fe259566a9d", element="1308ad5c-a518-4fcb-b9d6-f1cd2c0d6dd8")>]

In [25]:
#Extracting the text from the tags
for i in jobtag:
    title=i.text
    jobs.append(title)
Job=jobs[0:10]
Job

['Business Data Analyst(BigId) - Capco - Bangalore',
 'Data Analyst - Flipkart Analytics',
 'Senior Data Analyst',
 'Sr Data Analyst',
 'Business Data Analyst - Database Design/Mining',
 'Urgent Openings For Data Analyst / Business Analyst',
 'Software Technologist II - Data Analyst',
 'Hiring For Data Analyst - Payment System Intelligence',
 'Senior Data Analyst',
 'Data Analyst']

In [26]:
#Extracting the location tags
locationtag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
locationtag[0:4]

<ipython-input-26-e74a55812773>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  locationtag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")

[<selenium.webdriver.remote.webelement.WebElement (session="4ae05ba59a438f02b8f05fe259566a9d", element="b55c4358-5d11-414e-bc93-bbf97e46a88b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ae05ba59a438f02b8f05fe259566a9d", element="904e2224-c140-44c2-bfc4-c32db14b884e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ae05ba59a438f02b8f05fe259566a9d", element="58de226a-657b-433d-a54f-15baaa3582a1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ae05ba59a438f02b8f05fe259566a9d", element="c1a98fe0-d5d8-4204-b8a2-2ac74db0e4bd")>]

In [27]:
#Extracting the text from the location tags
for i in locationtag:
    ltag=i.text
    location.append(ltag)
Location=location[0:10]
Location

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Bellandur)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [28]:
#Extracting the company name tags
companytag=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companytag[0:4]

<ipython-input-28-8df48608260f>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  companytag=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

[<selenium.webdriver.remote.webelement.WebElement (session="4ae05ba59a438f02b8f05fe259566a9d", element="446c9039-e944-4e80-9cdb-93e24b9c5bcd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ae05ba59a438f02b8f05fe259566a9d", element="67e08caf-ea5e-4660-bcb0-2d8b0c30a6b7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ae05ba59a438f02b8f05fe259566a9d", element="6f0c7719-4346-44bc-8406-37333b524108")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ae05ba59a438f02b8f05fe259566a9d", element="8a511abd-70d3-4b0d-adcc-b309c54a0854")>]

In [29]:
#Extracting the text from company name tags
for i in companytag:
    ctag=i.text
    company.append(ctag)
Company=company[0:10]
Company

['Capco Technologies Pvt Ltd',
 'Flipkart',
 'Pioneer Business Solutions',
 'Pioneer Business Solutions',
 'AugmatrixGo',
 'Flipkart',
 'Philips India Limited',
 'Genpact',
 'Kwalee ltd.',
 'Novel Office']

In [30]:
#Extracting the experience tags
exptag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
exptag[0:4]

<ipython-input-30-b7ee6a335773>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  exptag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")

[<selenium.webdriver.remote.webelement.WebElement (session="4ae05ba59a438f02b8f05fe259566a9d", element="09f6593c-1513-47c5-af05-7b1c7989b554")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ae05ba59a438f02b8f05fe259566a9d", element="ec0f26be-79be-42ed-b78e-7eb6bdbf56c3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ae05ba59a438f02b8f05fe259566a9d", element="7bfe7c64-f5cf-43b9-9ccf-399c86228a68")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4ae05ba59a438f02b8f05fe259566a9d", element="56e2b34d-2cd3-43ce-8e19-d979eb6115e3")>]

In [31]:
#extracting the text from tags
for i in exptag:
    etag=i.text
    experience.append(etag)
Exp=experience[0:10]
Exp

['3-8 Yrs',
 '0-3 Yrs',
 '6-11 Yrs',
 '3-8 Yrs',
 '2-5 Yrs',
 '1-6 Yrs',
 '6-11 Yrs',
 '4-9 Yrs',
 '5-10 Yrs',
 '0-3 Yrs']

In [32]:
print(len(Job),len(Location),len(Company),len(Exp))

10 10 10 10

In [33]:
#5. Creating Dataframe
Data=pd.DataFrame({})
Data['Job-title']=Job
Data['Company-name']=Company
Data['Job-location']=Location
Data['Experience-required']=Exp

In [34]:
Data

,Job-title,Company-name,Job-location,Experience-required
0,Business Data Analyst(BigId) - Capco - Bangalore,Capco Technologies Pvt Ltd,Bangalore/Bengaluru,3-8 Yrs
1,Data Analyst - Flipkart Analytics,Flipkart,Bangalore/Bengaluru(Bellandur),0-3 Yrs
2,Senior Data Analyst,Pioneer Business Solutions,Bangalore/Bengaluru,6-11 Yrs
3,Sr Data Analyst,Pioneer Business Solutions,Bangalore/Bengaluru,3-8 Yrs
4,Business Data Analyst - Database Design/Mining,AugmatrixGo,Bangalore/Bengaluru,2-5 Yrs
5,Urgent Openings For Data Analyst / Business An...,Flipkart,Bangalore/Bengaluru,1-6 Yrs
6,Software Technologist II - Data Analyst,Philips India Limited,Bangalore/Bengaluru,6-11 Yrs
7,Hiring For Data Analyst - Payment System Intel...,Genpact,"Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai ...",4-9 Yrs
8,Senior Data Analyst,Kwalee ltd.,Bangalore/Bengaluru,5-10 Yrs
9,Data Analyst,Novel Office,Bangalore/Bengaluru,0-3 Yrs

# 2.

In [46]:
#Connecting to web driver
driver=webdriver.Chrome(r"C:\Users\user\Downloads\chromedriver_win32\chromedriver.exe")

<ipython-input-46-3316efb47fbe>:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:\Users\user\Downloads\chromedriver_win32\chromedriver.exe")

In [47]:
#1.Getting the web page
driver.get("https://www.naukri.com/")

In [48]:
#2.Entering the data to be search
jobsearch=driver.find_element_by_id("qsb-keyword-sugg")
jobsearch.send_keys("Data Scientist")
jobloc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
jobloc.send_keys("Bangalore")

<ipython-input-48-2a3c526783f0>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  jobsearch=driver.find_element_by_id("qsb-keyword-sugg")
<ipython-input-48-2a3c526783f0>:4: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  jobloc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")

In [49]:
#3. Clicking search button
btnsearch=driver.find_element_by_xpath("//div[@class='search-btn']/button")
btnsearch.click()

<ipython-input-49-38b865d32a6a>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  btnsearch=driver.find_element_by_xpath("//div[@class='search-btn']/button")

In [50]:
#4. Creating empty list to store the data
job_s=[]
company_s=[]
location_s=[]

In [51]:
#Extracting the job title tags
titletag=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titletag[0:4]

<ipython-input-51-4849952bd2b8>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  titletag=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

[<selenium.webdriver.remote.webelement.WebElement (session="490bc3844f37669d9ba869a3bb85177d", element="09c49d2f-8a4c-4819-94c9-337eb574b02b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="490bc3844f37669d9ba869a3bb85177d", element="358f2fb9-1bd8-4f81-806b-ad5e256805ee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="490bc3844f37669d9ba869a3bb85177d", element="4fadaa5c-02bd-4584-8e6b-43b61a9716dd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="490bc3844f37669d9ba869a3bb85177d", element="48e624ac-d3e1-4445-bcc2-741101d219a4")>]

In [52]:
#extracting the text from tags
for i in titletag:
    ttag=i.text
    job_s.append(ttag)
Job_s=job_s[0:10]
Job_s

['Senior Data Scientist',
 'Data Scientist',
 'Lead Data Scientist',
 'Lead Data Scientist',
 'Senior Data Scientist / Tech Lead - SQL / Python / Big Data',
 'Senior / Lead Data Scientist',
 'Forecasting Analyst/ Data Scientist (US Client)',
 'Data Scientist, Agribusiness Intelligence',
 'Data Scientist',
 'Data Scientist']

In [53]:
#Extracting the company tags
tagcompany=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
tagcompany[0:4]

<ipython-input-53-31e17a2e269c>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  tagcompany=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

[<selenium.webdriver.remote.webelement.WebElement (session="490bc3844f37669d9ba869a3bb85177d", element="d2669673-0118-4fe9-9ea9-5885df33db94")>,
 <selenium.webdriver.remote.webelement.WebElement (session="490bc3844f37669d9ba869a3bb85177d", element="cc10c6a5-660a-442e-ba45-f83aff568c9e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="490bc3844f37669d9ba869a3bb85177d", element="f2e8ad6c-54c9-4e20-b1ac-d6915c9ab02d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="490bc3844f37669d9ba869a3bb85177d", element="e6187b19-8763-4394-847a-898e99fd31e9")>]

In [54]:
#Extracting text from the tags
for i in tagcompany:
    Ctag=i.text
    company_s.append(Ctag)
Company_s=company_s[0:10]
Company_s

['Kwalee India Pvt Ltd.',
 'Visa',
 'Team4Progress',
 'TransOrg Solutions Services (P) Ltd.',
 'Exploro Solutions',
 'CoreEdge Solutions',
 'Concentrix Daksh Services',
 'IHS Markit',
 'Kwalee India Pvt Ltd.',
 'Binary Fountain Solutions India Pvt. Ltd']

In [55]:
#Extracting the location tags
taglocation=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
taglocation[0:4]

<ipython-input-55-eb4abad03672>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  taglocation=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")

[<selenium.webdriver.remote.webelement.WebElement (session="490bc3844f37669d9ba869a3bb85177d", element="13ccafe9-c48b-4dc4-bff4-ea52898d7f21")>,
 <selenium.webdriver.remote.webelement.WebElement (session="490bc3844f37669d9ba869a3bb85177d", element="0ac0f093-2809-4fd9-8e59-1305eb8635fb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="490bc3844f37669d9ba869a3bb85177d", element="01959eb3-93d9-44f3-a599-27648665df9d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="490bc3844f37669d9ba869a3bb85177d", element="8e16eb46-6ece-4383-9511-1199ee5f95b4")>]

In [56]:
#extracting the text from tags
for i in taglocation:
    Ltag=i.text
    location_s.append(Ltag)
Location_s=location_s[0:10]
Location_s

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mumbai, Pune, Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Pune, Chennai, Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Trivandrum/Thiruvananthapuram']

In [57]:
print(len(Job_s),len(Company_s),len(Location_s))

10 10 10

In [58]:
#5.Creating dataframe
JOB=pd.DataFrame({})
JOB['Job-title']=Job_s
JOB['Company-name']=Company_s
JOB['Job-location']=Location_s

In [59]:
JOB

,Job-title,Company-name,Job-location
0,Senior Data Scientist,Kwalee India Pvt Ltd.,Bangalore/Bengaluru
1,Data Scientist,Visa,Bangalore/Bengaluru
2,Lead Data Scientist,Team4Progress,"Mumbai, Pune, Bangalore/Bengaluru"
3,Lead Data Scientist,TransOrg Solutions Services (P) Ltd.,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ..."
4,Senior Data Scientist / Tech Lead - SQL / Pyth...,Exploro Solutions,"Pune, Chennai, Bangalore/Bengaluru"
5,Senior / Lead Data Scientist,CoreEdge Solutions,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru"
6,Forecasting Analyst/ Data Scientist (US Client),Concentrix Daksh Services,"Gurgaon/Gurugram, Bangalore/Bengaluru"
7,"Data Scientist, Agribusiness Intelligence",IHS Markit,Bangalore/Bengaluru
8,Data Scientist,Kwalee India Pvt Ltd.,Bangalore/Bengaluru
9,Data Scientist,Binary Fountain Solutions India Pvt. Ltd,"Bangalore/Bengaluru, Trivandrum/Thiruvananthap..."

# 3.

In [60]:
#Connecting to web driver
driver=webdriver.Chrome(r"C:\Users\user\Downloads\chromedriver_win32\chromedriver.exe")

<ipython-input-60-3316efb47fbe>:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:\Users\user\Downloads\chromedriver_win32\chromedriver.exe")

In [61]:
#1.Getting the web page
driver.get("https://www.naukri.com/")

In [62]:
#2.Entering the data to be search
search=driver.find_element_by_id("qsb-keyword-sugg")
search.send_keys("Data Scientist")

<ipython-input-62-488f9c781c88>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search=driver.find_element_by_id("qsb-keyword-sugg")

In [63]:
#3.Entering the search button
Sbtn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
Sbtn.click()

<ipython-input-63-81acb4ba7ca2>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  Sbtn=driver.find_element_by_xpath("//div[@class='search-btn']/button")

In [64]:
#4.Applying location filter
Lbtn=driver.find_element_by_xpath("//span[@title='Delhi / NCR']")
Lbtn.click()

<ipython-input-64-e325887d8670>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  Lbtn=driver.find_element_by_xpath("//span[@title='Delhi / NCR']")

In [65]:
#Applying the salary filter
Sbtn=driver.find_element_by_xpath("//span[@title='3-6 Lakhs']")
Sbtn.click()

<ipython-input-65-9769430a1141>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  Sbtn=driver.find_element_by_xpath("//span[@title='3-6 Lakhs']")

In [66]:
#5 Scraping data/ creating empty lists to store data
job_t=[]
job_l=[]
comp=[]
exp_r=[]

In [67]:
#Extracting the job title tags
jtag=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
jtag[0:4]

<ipython-input-67-3a8bb21a52a3>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  jtag=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

[<selenium.webdriver.remote.webelement.WebElement (session="d3420ccd2cd499da6a26b733d9b7f318", element="567f6a6a-45c1-42b3-991d-d47d3f09bcbd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3420ccd2cd499da6a26b733d9b7f318", element="a5d81e8e-6808-4b90-b365-7e4910d2ad43")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3420ccd2cd499da6a26b733d9b7f318", element="8e694519-59db-4e8e-b8ae-ce439c17f6cd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3420ccd2cd499da6a26b733d9b7f318", element="c3ea75d7-981f-46ab-9eeb-ebafeef95214")>]

In [68]:
#Extracting the text from tags
for i in jtag:
    Jtag=i.text
    job_t.append(Jtag)
job1=job_t[0:10]
job1

['Data Scientist',
 'Data Scientist',
 'Data Scientist III-2',
 'Job Opportunity || Data Scientist || HCL Technologies',
 'Data Scientist',
 'Data Scientist',
 'Urgent Hiring || Data Scientist || Delhi',
 'Data Scientist',
 'Data Scientist Internship',
 'Data Scientist']

In [69]:
#Extracting the job location tags
jltag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
jltag[0:4]

<ipython-input-69-19a9142a90e4>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  jltag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")

[<selenium.webdriver.remote.webelement.WebElement (session="d3420ccd2cd499da6a26b733d9b7f318", element="20ab58d7-e465-451a-9fc6-4c576bbb299b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3420ccd2cd499da6a26b733d9b7f318", element="83758c2b-6372-4805-839b-8adeec1a6a2c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3420ccd2cd499da6a26b733d9b7f318", element="8a0421c4-a6ab-4ab6-b168-bb7c2092451b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3420ccd2cd499da6a26b733d9b7f318", element="da9ee666-53ef-4598-92cb-cc7cf808d19e")>]

In [70]:
#Extracting the text from tags
for i in jltag:
    JLtag=i.text
    job_l.append(JLtag)
jobl=job_l[0:10]
jobl

['Kochi/Cochin, Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Pune, Bangalore/Bengaluru, Delhi / NCR',
 'Gurgaon/Gurugram',
 'Delhi / NCR',
 'Noida(Sector-126 Noida)',
 'Noida(Sector-126 Noida)',
 'Delhi / NCR',
 'Noida',
 'New Delhi',
 'Noida, Gurgaon/Gurugram']

In [71]:
#Extracting the company name tags
ctag=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
ctag[0:4]

<ipython-input-71-6cc9c15eb203>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  ctag=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

[<selenium.webdriver.remote.webelement.WebElement (session="d3420ccd2cd499da6a26b733d9b7f318", element="1dd468f1-0a06-4f6c-b198-62cf43ee1ade")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3420ccd2cd499da6a26b733d9b7f318", element="4402e1d9-57cc-473f-ae52-705bbd79a337")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3420ccd2cd499da6a26b733d9b7f318", element="7d22ba0b-70bd-4131-b783-240d7d689750")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3420ccd2cd499da6a26b733d9b7f318", element="8646169a-ba72-412e-a141-9d4151ce1584")>]

In [72]:
#Extracting the text from company name tags
for i in ctag:
    Ctag=i.text
    comp.append(Ctag)
jobc=comp[0:10]
jobc

['Think i',
 'ThinkBumblebee Analytics Pvt. Ltd.',
 'Concentrix Daksh Services',
 'HCL Technologies',
 'MoMagic Technologies Pvt. Ltd.',
 'MoMagic Technologies Pvt. Ltd.',
 'Shriram Automall India Limited',
 'SVK Global Solutions Private Limited',
 'iHackers Inc',
 'Optum Global Solutions (India) Private Limited']

In [73]:
#Extracting the experience tags
etag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
etag[0:4]

<ipython-input-73-776312ba49b8>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  etag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")

[<selenium.webdriver.remote.webelement.WebElement (session="d3420ccd2cd499da6a26b733d9b7f318", element="77f4495c-ff31-46c0-98e0-83638cb0c42d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3420ccd2cd499da6a26b733d9b7f318", element="00fa5820-a315-48bc-beac-381514fd1b28")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3420ccd2cd499da6a26b733d9b7f318", element="dd7e4296-c1d0-4225-8377-6c920ae191b1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3420ccd2cd499da6a26b733d9b7f318", element="766d2a07-2ebd-403c-baba-38eaadf7ce6d")>]

In [74]:
#Extracting the text from tags
for i in etag:
    Etag=i.text
    exp_r.append(Etag)
jobe=exp_r[0:10]
jobe

['0-2 Yrs',
 '2-6 Yrs',
 '3-8 Yrs',
 '4-7 Yrs',
 '4-6 Yrs',
 '4-6 Yrs',
 '2-7 Yrs',
 '6-10 Yrs',
 '0-1 Yrs',
 '2-6 Yrs']

In [75]:
print(len(job1),len(jobl),len(jobc),len(jobe))

10 10 10 10

In [76]:
#Making dataframe
Jobs=pd.DataFrame({})
Jobs['Job-title']=job1
Jobs['Company-name']=jobc
Jobs['Job-location']=jobl
Jobs['Experience-required']=jobe

In [77]:
Jobs

,Job-title,Company-name,Job-location,Experience-required
0,Data Scientist,Think i,"Kochi/Cochin, Kolkata, Hyderabad/Secunderabad,...",0-2 Yrs
1,Data Scientist,ThinkBumblebee Analytics Pvt. Ltd.,"Pune, Bangalore/Bengaluru, Delhi / NCR",2-6 Yrs
2,Data Scientist III-2,Concentrix Daksh Services,Gurgaon/Gurugram,3-8 Yrs
3,Job Opportunity || Data Scientist || HCL Techn...,HCL Technologies,Delhi / NCR,4-7 Yrs
4,Data Scientist,MoMagic Technologies Pvt. Ltd.,Noida(Sector-126 Noida),4-6 Yrs
5,Data Scientist,MoMagic Technologies Pvt. Ltd.,Noida(Sector-126 Noida),4-6 Yrs
6,Urgent Hiring || Data Scientist || Delhi,Shriram Automall India Limited,Delhi / NCR,2-7 Yrs
7,Data Scientist,SVK Global Solutions Private Limited,Noida,6-10 Yrs
8,Data Scientist Internship,iHackers Inc,New Delhi,0-1 Yrs
9,Data Scientist,Optum Global Solutions (India) Private Limited,"Noida, Gurgaon/Gurugram",2-6 Yrs

# 4.

In [55]:
#Connecting to web driver
driver=webdriver.Chrome(r"C:\Users\user\Downloads\chromedriver_win32\chromedriver.exe")

<ipython-input-55-3316efb47fbe>:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:\Users\user\Downloads\chromedriver_win32\chromedriver.exe")

In [56]:
#1.Getting the web page
driver.get("https://www.flipkart.com/")

In [57]:
cbtn=driver.find_element_by_xpath("//div[@class='_2QfC02']/button")
cbtn.click()

<ipython-input-57-1bc564929101>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  cbtn=driver.find_element_by_xpath("//div[@class='_2QfC02']/button")

In [58]:
#2. Entering the data to be searched
Search=driver.find_element_by_xpath("//input[@type='text']")
Search.send_keys("sunglasses")

<ipython-input-58-7e955beb49f8>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  Search=driver.find_element_by_xpath("//input[@type='text']")

In [59]:
#Clicking the search button
btn=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
btn.click()

<ipython-input-59-6d6de691cbef>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  btn=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")

In [60]:
#3. Creating empty list to store scraping data
brand=[]
product=[]
price=[]
discount=[]

In [61]:
start=0

end=3

for page in range(start,end):#for loop for scrapping 4 page

    brands=driver.find_elements_by_class_name('_2WkVRV')
    products=driver.find_elements_by_class_name('IRpwTa')
    prices=driver.find_elements_by_class_name('_30jeq3')
    discounts=driver.find_elements_by_class_name('_3Ay6Sb')

    for i in brands:

        brand.append(i.text)

    for i in products:

        product.append(i.text)

    for i in prices:

        price.append(i.text)

    for i in discounts:

        discount.append(i.text)

        nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")

    try:

        driver.get(nxt_button[1].get_attribute('href'))#getting the link from the list for next page

    except:

        driver.get(nxt_button[0].get_attribute('href'))

<ipython-input-61-1180943891a1>:7: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  brands=driver.find_elements_by_class_name('_2WkVRV')
<ipython-input-61-1180943891a1>:8: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  products=driver.find_elements_by_class_name('IRpwTa')
<ipython-input-61-1180943891a1>:9: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  prices=driver.find_elements_by_class_name('_30jeq3')
<ipython-input-61-1180943891a1>:10: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  discounts=driver.find_elements_by_class_name('_3Ay6Sb')
<ipython-input-61-1180943891a1>:28: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")

In [62]:
Brand=brand[0:100]
Product=product[0:100]
Price=price[0:100]
Discount=discount[0:100]

In [63]:
print(len(Brand),len(Product),len(Price),len(Discount))

100 100 100 100

In [77]:
sunglass=pd.DataFrame({'Brand':Brand,'Product Description':Product,'Price':Price,'Discount':Discount})

In [78]:
sunglass

,Brand,Product Description,Price,Discount
0,VINCENT CHASE,UV Protection Aviator Sunglasses (53),999,50% off
1,VINCENT CHASE,"by Lenskart Polarized, UV Protection Wayfarer ...",999,50% off
2,Elligator,UV Protection Round Sunglasses (54),264,89% off
3,Fastrack,UV Protection Rectangular Sunglasses (Free Size),513,35% off
4,SRPM,UV Protection Wayfarer Sunglasses (56),188,85% off
...,...,...,...,...
95,VINCENT CHASE,"Polarized, UV Protection Wayfarer Sunglasses (57)",319,84% off
96,ROYAL SON,UV Protection Round Sunglasses (50),554,72% off
97,Rich Club,"UV Protection, Others Round Sunglasses (48)",999,50% off
98,ROYAL SON,UV Protection Round Sunglasses (50),259,74% off
99,elegante,UV Protection Oval Sunglasses (Free Size),250,84% off

# 5.

In [66]:
#Connecting to web driver
driver=webdriver.Chrome(r"C:\Users\user\Downloads\chromedriver_win32\chromedriver.exe")

<ipython-input-66-3316efb47fbe>:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:\Users\user\Downloads\chromedriver_win32\chromedriver.exe")

In [67]:
#Getting the web page
url="https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC"
driver.get(url)

In [68]:
R=driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']")
R.click()

<ipython-input-68-001766fbb266>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  R=driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']")

In [69]:
#Creating empty list to store data
rating=[]
review_summary=[]
full_review=[]

In [70]:
#Using for loop scraping the data in range of 0 to 10 pages
for page in range(0,10):
    Rate=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq'or @class='_3LWZlK _1rdVr6 _1BLPMq']")
    review=driver.find_elements_by_class_name('_2-N8zT')
    fullreview=driver.find_elements_by_class_name('t-ZTKy')
    
    for i in Rate:
        rating.append(i.text)
        
    for i in review:
        review_summary.append(i.text)
        
    for i in fullreview:
        full_review.append(i.text)
        
    button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")
    
    try:

        driver.get(button[1].get_attribute('href'))

    except:

        driver.get(button[0].get_attribute('href'))

<ipython-input-70-92dd2c5f4a7d>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  Rate=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq'or @class='_3LWZlK _1rdVr6 _1BLPMq']")
<ipython-input-70-92dd2c5f4a7d>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  review=driver.find_elements_by_class_name('_2-N8zT')
<ipython-input-70-92dd2c5f4a7d>:4: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  fullreview=driver.find_elements_by_class_name('t-ZTKy')
<ipython-input-70-92dd2c5f4a7d>:15: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")

In [81]:
print(len(rating),len(review_summary),len(full_review))

100 100 100

In [84]:
#Creating data frame
Review=pd.DataFrame({'Rating':rating,'Review summary':review_summary,'Full review':full_review})

In [85]:
Review

,Rating,Review summary,Full review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Perfect product!,Amazing phone with great cameras and better ba...
3,5,Worth every penny,Previously I was using one plus 3t it was a gr...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,5,Super!,This is my first ever iPhone.\nAnd I truly don...
96,5,Just wow!,The ultimate performance\nCamera is superb\nTh...
97,5,Terrific purchase,I use a Note10+ and have been using both iOS a...
98,5,Awesome,The phone is completely good\nAs far as camera...
99,3,Decent product,Everything u ll like it when u use this iPhone...

# 6.

In [116]:
#Connecting to web driver
driver=webdriver.Chrome(r"C:\Users\user\Downloads\chromedriver_win32\chromedriver.exe")

<ipython-input-116-3316efb47fbe>:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:\Users\user\Downloads\chromedriver_win32\chromedriver.exe")

In [117]:
#Getting the web page
driver.get("https://www.flipkart.com/")

In [118]:
cbtn=driver.find_element_by_xpath("//div[@class='_2QfC02']/button")
cbtn.click()

<ipython-input-118-1bc564929101>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  cbtn=driver.find_element_by_xpath("//div[@class='_2QfC02']/button")

In [119]:
# Entering the data to be searched
Search=driver.find_element_by_xpath("//input[@type='text']")
Search.send_keys("sneakers")

<ipython-input-119-d2862f49e9e6>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  Search=driver.find_element_by_xpath("//input[@type='text']")

In [120]:
#Clicking the search button
btn=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
btn.click()

<ipython-input-120-6d6de691cbef>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  btn=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")

In [121]:
# Creating empty list to store scraping data
brand_s=[]
product_s=[]
price_s=[]
discount_s=[]

In [122]:
start=0

end=3

for page in range(start,end):

    Brand_s=driver.find_elements_by_class_name('_2WkVRV')
    Product_s=driver.find_elements_by_class_name('IRpwTa')
    Price_s=driver.find_elements_by_class_name('_30jeq3')
    Discount_s=driver.find_elements_by_class_name('_3Ay6Sb')

    for i in Brand_s:

        brand_s.append(i.text)

    for i in Product_s:

        product_s.append(i.text)

    for i in Price_s:

        price_s.append(i.text)

    for i in Discount_s:

        discount_s.append(i.text)

        nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")

    try:

        driver.get(nxt_button[1].get_attribute('href'))

    except:

        driver.get(nxt_button[0].get_attribute('href'))

<ipython-input-122-35b043a108ba>:7: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  Brand_s=driver.find_elements_by_class_name('_2WkVRV')
<ipython-input-122-35b043a108ba>:8: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  Product_s=driver.find_elements_by_class_name('IRpwTa')
<ipython-input-122-35b043a108ba>:9: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  Price_s=driver.find_elements_by_class_name('_30jeq3')
<ipython-input-122-35b043a108ba>:10: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  Discount_s=driver.find_elements_by_class_name('_3Ay6Sb')
<ipython-input-122-35b043a108ba>:28: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")

In [125]:
BRAND=brand_s[0:100]
PRODUCT=product_s[0:100]
PRICE=price_s[0:100]
DISCOUNT=discount_s[0:100]

In [126]:
print(len(BRAND),len(PRODUCT),len(PRICE),len(DISCOUNT))

100 100 100 100

In [127]:
sneakers=pd.DataFrame({})
sneakers['Brand']=BRAND
sneakers['Product Description']=PRODUCT
sneakers['Price']=PRICE
sneakers['Discount']=DISCOUNT

In [128]:
sneakers

,Brand,Product Description,Price,Discount
0,BIRDE,Men Casual Shoes Sneakers For Men,299,51% off
1,BIRDE,Sneakers For Men,299,70% off
2,ASTEROID,Original Luxury Branded Fashionable Men's Casu...,499,75% off
3,Chevit,Super Stylish & Trendy Combo Pack of 02 Pairs ...,699,56% off
4,URBANBOX,Sneakers Sneakers For Men,220,77% off
...,...,...,...,...
95,CHamps,Dragon-On Sneakers For Men,499,66% off
96,mannu,High-end PU Sneakers Fashion CasualSports comf...,499,50% off
97,BOOYO,Original Luxury Branded Fashionable men's Casu...,299,70% off
98,ROCKFIELD,Sneakers For Men,499,57% off
99,PUMA,Puma Smash Vulc Sneakers For Men,497,50% off

# 7.

In [255]:
#Connecting to web driver
driver=webdriver.Chrome(r"C:\Users\user\Downloads\chromedriver_win32\chromedriver.exe")

<ipython-input-255-3316efb47fbe>:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:\Users\user\Downloads\chromedriver_win32\chromedriver.exe")

In [256]:
#Getting the web page
driver.get("https://www.myntra.com/shoes")

In [257]:
#Colour filtering
black_btn=driver.find_element_by_xpath("//span[@data-colorhex='black']")
black_btn.click()

<ipython-input-257-612892a91d7c>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  black_btn=driver.find_element_by_xpath("//span[@data-colorhex='black']")

In [258]:
#price filtering
fltr=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label")
fltr.click()

<ipython-input-258-ad34324a4955>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  fltr=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label")

In [259]:
#Creating empty list
shoebrand=[]
shoedescription=[]
shoeprice=[]

In [260]:
for page in range(0,2):#for loop for scrapping 

    shoebrands=driver.find_elements_by_class_name('product-brand')
    shoedescriptions=driver.find_elements_by_class_name('product-product')
    shoeprices=driver.find_elements_by_class_name('product-price')

    for i in shoebrands:

        shoebrand.append(i.text)

    for i in shoedescriptions:

        shoedescription.append(i.text)

    for i in shoeprices:

        shoeprice.append(i.text)


        nxt_button=driver.find_elements_by_xpath("//a[@rel='next']")

    try:

        driver.get(nxt_button[1].get_attribute('href'))

    except:

        driver.get(nxt_button[0].get_attribute('href'))

<ipython-input-260-d7296b5eb74a>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  shoebrands=driver.find_elements_by_class_name('product-brand')
<ipython-input-260-d7296b5eb74a>:4: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  shoedescriptions=driver.find_elements_by_class_name('product-product')
<ipython-input-260-d7296b5eb74a>:5: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  shoeprices=driver.find_elements_by_class_name('product-price')
<ipython-input-260-d7296b5eb74a>:20: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  nxt_button=driver.find_elements_by_xpath("//a[@rel='next']")

In [261]:
len(shoebrand),len(shoedescription),len(shoeprice)

(100, 100, 100)

In [262]:
#Creating dataframe
shoe=pd.DataFrame({})
shoe['Brand']=shoebrand
shoe['Shoe Description']=shoedescription
shoe['Shoe Price']=shoeprice
shoe

      Brand                Shoe Description                   Shoe Price
0      Nike  LEBRON WITNESS Basketball Shoe    Rs. 7465Rs. 8295(10% OFF)
1      Nike  AIR ZOOM PEGASUS Running Shoes    Rs. 8995Rs. 9995(10% OFF)
2      Nike         Men AIR PRESTO Sneakers  Rs. 10345Rs. 11495(10% OFF)
3      Nike   Men Zoom Span 4 Running Shoes                     Rs. 7195
4      Nike  Air Zoom Pegasus 38 Shield Run  Rs. 10345Rs. 11495(10% OFF)
..      ...                             ...                          ...
95  Bugatti       Men Solid Casual Sneakers    Rs. 7199Rs. 8999(20% OFF)
96   Reebok         Men HIIT Training Shoes                     Rs. 9999
97    Ruosh  Men Solid Leather Formal Monks                     Rs. 8990
98     Puma       Men Magnify Nitro Running  Rs. 10399Rs. 12999(20% OFF)
99     Geox              Men Solid Sneakers                    Rs. 11999

[100 rows x 3 columns]

# 8.

In [455]:
#Connecting to web driver
driver=webdriver.Chrome(r"C:\Users\user\Downloads\chromedriver_win32\chromedriver.exe")

<ipython-input-455-3316efb47fbe>:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:\Users\user\Downloads\chromedriver_win32\chromedriver.exe")

In [456]:
#Getting the web page
driver.get("https://www.amazon.in/")

In [457]:
#Entering the data to be searched
searchdata=driver.find_element_by_id("twotabsearchtextbox")
searchdata.send_keys("Laptop")
searchbutton=driver.find_element_by_id("nav-search-submit-button")
searchbutton.click()

<ipython-input-457-cfa93644ade8>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  searchdata=driver.find_element_by_id("twotabsearchtextbox")
<ipython-input-457-cfa93644ade8>:4: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  searchbutton=driver.find_element_by_id("nav-search-submit-button")

In [458]:
#Filtering
icore7=driver.find_element_by_xpath("//*[@id='p_n_feature_thirteen_browse-bin/12598163031']/span/a/span")
icore7.click()

<ipython-input-458-ff8cb41fa82d>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  icore7=driver.find_element_by_xpath("//*[@id='p_n_feature_thirteen_browse-bin/12598163031']/span/a/span")

In [459]:
#Creating empty lists
Title=[]
Ratings=[]
Price=[]

In [471]:
#Extracting the titles 
title=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
for i in title:
    titles=i.text
    Title.append(titles)
Titles=Title[0:10]
Titles

<ipython-input-471-4a0275260396>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  title=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")

['ASUS ZenBook 13 OLED (2021) Intel Core i7-1165G7 11th Gen 14" (35.56cms) FHD Thin and Light Laptop (16GB/512GB SSD/Windows 10/Office 2019/Intel Iris X Graphics/Pine Grey/1.14 kg), UX325EA-KG722TS',
 'ASUS ZenBook 14 (2020) Intel Core i7-1165G7 11th Gen 14 inches FHD Business Laptop (16GB/512GB SSD/Office 2019/Windows 10 Home/Iris Xe Graphics/Pine Grey/1.17 kg), UX425EA-KI701TS',
 'ASUS TUF Gaming F17 (2021), 17.3-inch (43.94 cms) FHD 144Hz, Intel Core i7-11800H 11th Gen, GeForce RTX 3050 Ti 4GB Graphics, Gaming Laptop (16GB/1TB SSD/Windows 10/Eclipse Gray/2.6 Kg) FX766HE-HX022T',
 'Mi Notebook Horizon Edition 14 Intel Core i7-10510U 10th Gen Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg)(Without Webcam) XMA1904-AF',
 'Dell 14 (2021) i7-1195G7 2in1 Touch Screen Laptop, 16GB, 512GB SSD, Win 10 + MS Office, 14.0" (35.56 cms) FHD Display, Backlit KB, FPR + Active Pen, Platinum Silver (Inspiron 5410, D560596WIN9S)',
 'HP Pavilion (2021) Intel 11th Gen Core i7 14 inches FHD Screen Thin & Light Laptop, 16 GB RAM, 1TB SSD, Iris Xe Graphics, Windows 10, MS Office, Backlit Keyboard, 1.41kg (14-dv0058TU)',
 'HP Pavilion x360 11th Gen Intel Core i7 14-inch(35.6 cm) Touchscreen 2-in-1 FHD Laptop (16GB/512GB SSD/Fingerprint Reader/Windows 10/MS Office/Natural Silver/1.41 Kg), 14-dy0050TU',
 'ASUS TUF Dash F15 (2021), 15.6" (39.62 cms) FHD 144Hz, Intel Core i7-11370H 11th Gen, RTX 3050 Ti 4GB Graphics, Gaming Laptop (16GB/1TB SSD/Office 2019/Windows 10/Eclipse Gray/2 kg), FX516PE-HN088TS',
 'ASUS TUF Gaming F15 (2021) 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-11800H 11th Gen, RTX 3050 4GB Graphics, Gaming Laptop (8GB/1TB SSD/Windows 10/Gray/2.3 Kg), FX566HCB-HN231T, Eclipse Gray',
 'ASUS TUF Dash F15 (2021) 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-11370H 11th Gen, RTX 3050 4GB Graphics, Gaming Laptop (16GB/512GB SSD/Windows 10/Gray/2 Kg), FX516PCZ-HN091T']

In [492]:
#Extracting thr rating
ratings=driver.find_elements_by_class_name("a-icon-alt")
for i in ratings:
    Ratings.append(i.text)
RatingS=Ratings[0:10]
RatingS

<ipython-input-492-062565177df3>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  ratings=driver.find_elements_by_class_name("a-icon-alt")

['', '', '', '', '', '', '', '', '', '']

In [470]:
price=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
for i in price:
    prices=i.text
    Price.append(prices)
Prices=Price[0:10]
Prices

<ipython-input-470-08e2e1c4fe91>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  price=driver.find_elements_by_xpath("//span[@class='a-price-whole']")

['98,990',
 '96,990',
 '1,13,990',
 '57,990',
 '88,490',
 '84,990',
 '84,990',
 '95,990',
 '99,990',
 '93,990']

In [473]:
#Making a Dataframe
laptop=pd.DataFrame({'Title':Titles,'Ratings':RatingS,'Price':Prices})
laptop

                                               Title Ratings     Price
0  ASUS ZenBook 13 OLED (2021) Intel Core i7-1165...            98,990
1  ASUS ZenBook 14 (2020) Intel Core i7-1165G7 11...            96,990
2  ASUS TUF Gaming F17 (2021), 17.3-inch (43.94 c...          1,13,990
3  Mi Notebook Horizon Edition 14 Intel Core i7-1...            57,990
4  Dell 14 (2021) i7-1195G7 2in1 Touch Screen Lap...            88,490
5  HP Pavilion (2021) Intel 11th Gen Core i7 14 i...            84,990
6  HP Pavilion x360 11th Gen Intel Core i7 14-inc...            84,990
7  ASUS TUF Dash F15 (2021), 15.6" (39.62 cms) FH...            95,990
8  ASUS TUF Gaming F15 (2021) 15.6-inch (39.62 cm...            99,990
9  ASUS TUF Dash F15 (2021) 15.6-inch (39.62 cms)...            93,990

# 9.

In [227]:
#Connecting to web driver
driver=webdriver.Chrome(r"C:\Users\user\Downloads\chromedriver_win32\chromedriver.exe")

<ipython-input-227-3316efb47fbe>:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:\Users\user\Downloads\chromedriver_win32\chromedriver.exe")

In [228]:
#1.Getting the web page
driver.get("https://www.ambitionbox.com/")

In [229]:
#2. clicking the job option
job=driver.find_element_by_xpath("//a[@class='link jobs']")
job.click()

<ipython-input-229-12bc7e24ad31>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  job=driver.find_element_by_xpath("//a[@class='link jobs']")

In [230]:
#3.Entering the data to be searched and entering search button
sea=driver.find_element_by_xpath("//input[@title='Enter Designation, Company or a Skill']")
sea.send_keys("Data Scientist")
sbutton=driver.find_element_by_xpath("//span[@class='ctas-btn-medium']")
sbutton.click()

<ipython-input-230-b82f9010a0f6>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  sea=driver.find_element_by_xpath("//input[@title='Enter Designation, Company or a Skill']")
<ipython-input-230-b82f9010a0f6>:4: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  sbutton=driver.find_element_by_xpath("//span[@class='ctas-btn-medium']")

In [231]:
#4. Selecting the location 
location=driver.find_element_by_xpath("//div[@title='Location']")
location.click()
place=driver.find_element_by_id("location_Noida")
place.click()

<ipython-input-231-a160375e9dfc>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  location=driver.find_element_by_xpath("//div[@title='Location']")
<ipython-input-231-a160375e9dfc>:3: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  place=driver.find_element_by_id("location_Noida")

In [232]:
#Creating empty list
company_name=[]
job_post_date=[]
company_rating=[]

In [217]:
#Scraping the company name
cname=driver.find_elements_by_xpath("//p[@class='company body-medium']")
cname

<ipython-input-217-55bc431daeb9>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  cname=driver.find_elements_by_xpath("//p[@class='company body-medium']")

[<selenium.webdriver.remote.webelement.WebElement (session="12195dd3dc8bdc6314736e45897620d4", element="a1727265-3c79-4ba0-9dab-9354e15ea9cf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12195dd3dc8bdc6314736e45897620d4", element="72fd2d16-cf2a-426d-8c1e-05f54b29f318")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12195dd3dc8bdc6314736e45897620d4", element="4eab34b9-78fe-4306-a592-bf60669da3d2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12195dd3dc8bdc6314736e45897620d4", element="a940bfac-2a3b-41a3-9dc9-0f34219d32b7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12195dd3dc8bdc6314736e45897620d4", element="c4011898-9cb6-4b87-b4c3-ca5628977a40")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12195dd3dc8bdc6314736e45897620d4", element="c0f54df0-f168-4a55-963e-d997b359379b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12195dd3dc8bdc6314736e45897620d4", element="d47af64b-7103-4a06-9a1d-9cd230197145")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12195dd3dc8bdc6314736e45897620d4", element="33a7cd9f-bf80-48b1-ab54-84a2a1514129")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12195dd3dc8bdc6314736e45897620d4", element="b894b2fe-c17d-42c3-bc86-ea10aedcabe1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12195dd3dc8bdc6314736e45897620d4", element="af5044a9-b9d2-44e8-be1d-a958440be551")>]

In [218]:
for i in cname:
    Cname=i.text
    company_name.append(Cname)
company_name

['Optum Global Solutions (India) Private Limited',
 'Ameriprise Financial',
 'Optum Global Solutions (India) Private Limited',
 'Steria India Ltd',
 'Steria India Ltd',
 'HCL Technologies Limited',
 'Zyoin',
 'GI Group',
 'GI Group',
 'IBM India Pvt. Limited']

In [219]:
#Scraping the job posted date
jobpost=driver.find_elements_by_xpath("//span[@class='body-small-l']")
jobpost

<ipython-input-219-dd4a93543755>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  jobpost=driver.find_elements_by_xpath("//span[@class='body-small-l']")

[<selenium.webdriver.remote.webelement.WebElement (session="12195dd3dc8bdc6314736e45897620d4", element="7e756d0b-0265-494c-ab0f-d45ca5d9e3c4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12195dd3dc8bdc6314736e45897620d4", element="8ca0fd3e-d92f-41bc-8cc7-0d160f49e10a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12195dd3dc8bdc6314736e45897620d4", element="07ef19d0-c780-4cb3-9189-fe3976c782e2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12195dd3dc8bdc6314736e45897620d4", element="4b3a2229-d9d7-4a63-bf5d-8ccbd37aecd6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12195dd3dc8bdc6314736e45897620d4", element="d57d3af9-7d31-44a3-930a-289bf9109943")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12195dd3dc8bdc6314736e45897620d4", element="848b90d5-9565-489c-8f62-28858243ec98")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12195dd3dc8bdc6314736e45897620d4", element="6e17b2fa-885c-4724-9534-0929a097c528")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12195dd3dc8bdc6314736e45897620d4", element="504ace68-cff2-48db-866f-e5329f7a3236")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12195dd3dc8bdc6314736e45897620d4", element="86ffad73-866c-49fe-9591-d3f9dd59741b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12195dd3dc8bdc6314736e45897620d4", element="68c71fc7-bd12-4830-a6a6-fa9d761f319b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12195dd3dc8bdc6314736e45897620d4", element="65f1d68f-811c-44b7-a72b-4d40c358c897")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12195dd3dc8bdc6314736e45897620d4", element="d574f11c-a59f-4fc6-9d9e-faf948554aa4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12195dd3dc8bdc6314736e45897620d4", element="0a8ce89e-787d-4ca5-8457-fd5269315ad9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12195dd3dc8bdc6314736e45897620d4", element="ae6815b8-a2ee-4cde-95fe-5754e83b273c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12195dd3dc8bdc6314736e45897620d4", element="f9c28e28-143a-426d-916a-d92db8e4cfe4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12195dd3dc8bdc6314736e45897620d4", element="c81de1b8-e4c5-4a7a-956b-7ca055be694a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12195dd3dc8bdc6314736e45897620d4", element="ed4c5408-24e7-44f6-ad3e-375df2b2d3a3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12195dd3dc8bdc6314736e45897620d4", element="29f18786-629d-42f7-b4c3-c133d569b924")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12195dd3dc8bdc6314736e45897620d4", element="a1946730-14ce-4736-975d-eac2e3fe4399")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12195dd3dc8bdc6314736e45897620d4", element="c26fb6fd-2796-43b7-9fc3-1933264ca94e")>]

In [220]:
for i in jobpost:
    Jobpost=(i.text)
    job_post_date.append(Jobpost)
Job_date=[]

In [221]:
for k in range(0,20,2):
    Job_date.append(job_post_date[k])

In [222]:
Job_date

['6d ago',
 '1d ago',
 '27d ago',
 '18d ago',
 '18d ago',
 '29d ago',
 '7hr ago',
 '1d ago',
 '3d ago',
 '1mon ago']

In [223]:
#Scraping the company rating
rating=driver.find_elements_by_xpath("//span[@class='body-small']")
rating

<ipython-input-223-4a6ab1a576d9>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  rating=driver.find_elements_by_xpath("//span[@class='body-small']")

[<selenium.webdriver.remote.webelement.WebElement (session="12195dd3dc8bdc6314736e45897620d4", element="3a382129-3f2b-4f75-9afd-64cc15fef53d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12195dd3dc8bdc6314736e45897620d4", element="492980bd-6e3c-4c69-a5bc-2ddd607cccb6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12195dd3dc8bdc6314736e45897620d4", element="e7a782c9-474b-4e6a-8182-3cacc4c41a85")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12195dd3dc8bdc6314736e45897620d4", element="5f63a6b8-ac5c-4591-a64a-544ff39e53b3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12195dd3dc8bdc6314736e45897620d4", element="ec275685-1523-4026-9611-fd2afb256ae7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12195dd3dc8bdc6314736e45897620d4", element="9f2f3231-ae34-4f89-99fe-9fe0cc7fcc19")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12195dd3dc8bdc6314736e45897620d4", element="b66f0b20-113b-4ce4-b800-2e220947620d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12195dd3dc8bdc6314736e45897620d4", element="9d4c1759-c64d-4f33-8348-91d7ad8c16e8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12195dd3dc8bdc6314736e45897620d4", element="110008d7-716a-497a-b299-a5f2717fd854")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12195dd3dc8bdc6314736e45897620d4", element="5071f7d5-075a-41fe-a50c-c16c17d79f56")>]

In [224]:
for i in rating:
    Rate=i.text
    company_rating.append(Rate)
company_rating

['4.1', '4.1', '4.1', '4.1', '4.1', '3.8', '4.2', '3.9', '3.9', '4.1']

In [225]:
#Creating Dataframe
ambition=pd.DataFrame({})
ambition['Company Name']=company_name
ambition['Job Posted']=Job_date
ambition['Rating of the company']=company_rating

In [226]:
ambition

,Company Name,Job Posted,Rating of the company
0,Optum Global Solutions (India) Private Limited,6d ago,4.1
1,Ameriprise Financial,1d ago,4.1
2,Optum Global Solutions (India) Private Limited,27d ago,4.1
3,Steria India Ltd,18d ago,4.1
4,Steria India Ltd,18d ago,4.1
5,HCL Technologies Limited,29d ago,3.8
6,Zyoin,7hr ago,4.2
7,GI Group,1d ago,3.9
8,GI Group,3d ago,3.9
9,IBM India Pvt. Limited,1mon ago,4.1

# 10.

In [551]:
#Connecting to web driver
driver=webdriver.Chrome(r"C:\Users\user\Downloads\chromedriver_win32\chromedriver.exe")

<ipython-input-551-3316efb47fbe>:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:\Users\user\Downloads\chromedriver_win32\chromedriver.exe")

In [552]:
#1.Getting the web page
driver.get("https://www.ambitionbox.com/")

In [553]:
#2.Selecting salaries option
salaries=driver.find_element_by_xpath("//a[@class='link salaries']")
salaries.click()

<ipython-input-553-b35d2831a7d0>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  salaries=driver.find_element_by_xpath("//a[@class='link salaries']")

In [556]:
#3.Entering the data to be searched and clicking the search button
searchsalary=driver.find_element_by_xpath("//input[@placeholder='Search job profiles']")
searchsalary.send_keys("Data Scientist")

<ipython-input-556-d6287cf16a79>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  searchsalary=driver.find_element_by_xpath("//input[@placeholder='Search job profiles']")

In [557]:
enter=driver.find_element_by_xpath("//div[@class='suggestion_wrap tt-suggestion tt-selectable']")
enter.click()

<ipython-input-557-7b12e170eecc>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  enter=driver.find_element_by_xpath("//div[@class='suggestion_wrap tt-suggestion tt-selectable']")

In [558]:
#Creating empty list to store data
Company_name=[]
Total_salary_record=[]
Avg_salary=[]
Min_salary=[]
Max_salary=[]
Exp_required=[]

In [559]:
#scraping company name
companyname=driver.find_elements_by_class_name("name")
for i in companyname:
    Company_name.append(i.text.split('\n')[0])
Company_Name=Company_name[0:10]
Company_Name

<ipython-input-559-751ce19065b5>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  companyname=driver.find_elements_by_class_name("name")

['Ab Inbev',
 'Optum',
 'Fractal Analytics',
 'Tiger Analytics',
 'UnitedHealth',
 'Verizon',
 'Ganit Business Solutions',
 'Deloitte',
 'Ernst & Young',
 'Ericsson']

In [561]:
totalsalary=driver.find_elements_by_class_name("name")
for i in totalsalary:
    Total_salary_record.append(i.text.split('\n')[1])
salary_record=Total_salary_record[0:10]
salary_record

<ipython-input-561-366f7f09d270>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  totalsalary=driver.find_elements_by_class_name("name")

['based on 10 salaries',
 'based on 22 salaries',
 'based on 60 salaries',
 'based on 24 salaries',
 'based on 45 salaries',
 'based on 14 salaries',
 'based on 12 salaries',
 'based on 45 salaries',
 'based on 26 salaries',
 'based on 43 salaries']

In [562]:
experience=driver.find_elements_by_xpath("//div[@class='salaries sbold-list-header']")
for i in experience:
    Exp_required.append(i.text.split('\n')[2])
Exp_required

<ipython-input-562-cd13da9b6a52>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  experience=driver.find_elements_by_xpath("//div[@class='salaries sbold-list-header']")

['4 yrs exp',
 '3-4 yrs exp',
 '2-4 yrs exp',
 '3-4 yrs exp',
 '2-4 yrs exp',
 '4 yrs exp',
 '4 yrs exp',
 '2-4 yrs exp',
 '3-4 yrs exp',
 '3-4 yrs exp']

In [563]:
avgsalary=driver.find_elements_by_xpath("//p[@class='averageCtc']")
for i in avgsalary:
    Avg_salary.append(i.text)
Avg_salary

<ipython-input-563-d482c5b7379f>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  avgsalary=driver.find_elements_by_xpath("//p[@class='averageCtc']")

[' 19.4L',
 ' 15.1L',
 ' 14.7L',
 ' 13.4L',
 ' 13.3L',
 ' 12.7L',
 ' 12.4L',
 ' 11.2L',
 ' 11.1L',
 ' 10.9L']

In [566]:
minsalary=driver.find_elements_by_xpath("//div[@class='value body-medium']")
for i in minsalary:
    Min_salary.append(i.text)
Min_salary

<ipython-input-566-84af70438f54>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  minsalary=driver.find_elements_by_xpath("//div[@class='value body-medium']")

[' 15.0L',
 ' 23.0L',
 ' 11.0L',
 ' 21.3L',
 ' 9.0L',
 ' 20.8L',
 ' 8.3L',
 ' 18.5L',
 ' 7.2L',
 ' 20.5L',
 ' 10.0L',
 ' 21.0L',
 ' 8.5L',
 ' 15.0L',
 ' 6.9L',
 ' 20.5L',
 ' 6.0L',
 ' 20.0L',
 ' 5.0L',
 ' 21.5L']

In [571]:
MIN_sal=[]

for i in range(0,20,2):
    MIN_sal.append(Min_salary[i])
MIN_sal

[' 15.0L',
 ' 11.0L',
 ' 9.0L',
 ' 8.3L',
 ' 7.2L',
 ' 10.0L',
 ' 8.5L',
 ' 6.9L',
 ' 6.0L',
 ' 5.0L']

In [572]:
MAX_sal=[]

for i in range(1,20,2):
    MAX_sal.append(Min_salary[i])
MAX_sal

[' 23.0L',
 ' 21.3L',
 ' 20.8L',
 ' 18.5L',
 ' 20.5L',
 ' 21.0L',
 ' 15.0L',
 ' 20.5L',
 ' 20.0L',
 ' 21.5L']

In [573]:
#Making Dataframe
salary_data=pd.DataFrame({'Company Name':Company_Name,'Total Salary Record':salary_record,'Average Salary':Avg_salary,'Minimum Salary':MIN_sal,'Maximum Salary':MAX_sal})
salary_data

,Company Name,Total Salary Record,Average Salary,Minimum Salary,Maximum Salary
0,Ab Inbev,based on 10 salaries,19.4L,15.0L,23.0L
1,Optum,based on 22 salaries,15.1L,11.0L,21.3L
2,Fractal Analytics,based on 60 salaries,14.7L,9.0L,20.8L
3,Tiger Analytics,based on 24 salaries,13.4L,8.3L,18.5L
4,UnitedHealth,based on 45 salaries,13.3L,7.2L,20.5L
5,Verizon,based on 14 salaries,12.7L,10.0L,21.0L
6,Ganit Business Solutions,based on 12 salaries,12.4L,8.5L,15.0L
7,Deloitte,based on 45 salaries,11.2L,6.9L,20.5L
8,Ernst & Young,based on 26 salaries,11.1L,6.0L,20.0L
9,Ericsson,based on 43 salaries,10.9L,5.0L,21.5L